body {
    background-color: rgb(53, 53, 53);
    color: white;
    font-family: "Comic Sans MS";
    margin: 0px;
}

.aanestykset {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgb(48, 48, 48);
}

.aanestysNapit {
    width: 100%;
    height: 45px;
    color: white;
    background-color: rgb(39, 39, 39);
}

h2 {
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 10px;
    clear: left;
    text-align: left;
}

#kirjauduUlos {
    display: none;
    position: absolute;
    margin-left: 20%;
    margin-top: 2%
}

.aanestysNapit:hover {
    background-color: rgb(56, 56, 56);
}

.aanestysLaaja {
    display: none;
    margin: 10px;
}

.aanestysLaajaNapit {
    width: 25%;
    float: left;
}

#aanestysTaulukko {
    display: none;
}

#aanestysOtsikko {
    text-align: center;
    font-size: 50px;
}

#kirjautumisKehotus {
    text-align: center;
    font-size: 30px;
}

.sivupalkki {
    position: absolute;
    float: left;
    width: 25%;
    height: 100%;
    background-color: rgb(85, 85, 85);
}

#kirjatumisPaneeli {
    float: left;
    width: 100%;
    height: 12%;
    margin-top: 15px;
}

#aanestyksenLuonti {
    position: absolute;
    top: 30%;
    width: 100%;
    height: 25%;
    background-color: rgb(53, 53, 53);
    display: none;
}

#luoAanestys {
    font-size: 20px;
    color: white;
    background-color: rgb(32, 32, 32);
    margin-left: 26%
}

#luoAanestys:hover {
    background-color: rgb(56, 56, 56);
}

label {
    float: left;
    text-align: right;
    width: 120px;
    padding-right: 6px
}

#kirjaudu {
    position: absolute;
    margin-left: 20%;
    margin-top: 2%
}

#rekisteroidy {
    position: absolute;
    margin-left: 50%;
    margin-top: 2%;
}

#kirjautumisVirheet {
    float: left;
    width: 100%;
    height: 10%;
    text-align:center;
}

#rekisteroidy:hover, #kirjaudu:hover {
    background-color: rgb(110, 110, 110);
}

.aanestysLaajaNapit:hover {
    background-color: rgb(110, 110, 110);
}
